.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 3vmin);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  color: white;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  font-size: calc(10px + 1vmin);
}

.select-wrapper {
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  font-size: calc(10px + 1vmin);
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
}

.imagen {
  width: 100%;
}

.label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
  width: 100%;
}

.input {
  height: 100%;
  max-width: 50px;
  font-size: calc(10px + 1vmin);
}

.unit {
  font-size: calc(10px + 1vmin);
}

.result {
  font-size: calc(10px + 1.5vmin);
  border: 1px solid white;
  border-radius: 8px;
  padding: 1rem 2rem;
}

.raw-formula-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.raw-formula {
  font-size: calc(10px + 1vmin);
}

.raw-formula:first-of-type {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}